MAVEN_SOLUTION/RISK_ANALYSIS/ar05Schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="result">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="output" type="xs:string"></xs:element>
				<xs:element name="summary" type="xs:string"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>