MAVEN_SOLUTION/RISK_ASSESSMENT_WEB_SERVER/src/main/resources/SchemaSE07Export.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="se07" type="SE07Type"/>
  
  <!-- SE07Typetype -->
  <xs:complexType name="SE07Type">
    <xs:sequence>
      <xs:element name="Result" type="xs:string"/>
    </xs:sequence>
</xs:complexType>

</xs:schema>
