MAVEN_SOLUTION/RISK_ASSESSMENT_WEB_SERVER/src/main/resources/SchemaSE04Export.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="se04" type="SE04Type"/>
  
  <!-- SE04 type -->
  <xs:complexType name="SE04Type">
    <xs:sequence>
      <xs:element name="Result" type="xs:string"/>
    </xs:sequence>
</xs:complexType>

</xs:schema>