MAVEN_SOLUTION/RISK_ASSESSMENT_WEB_SERVER/src/main/resources/SCHEMA_SE03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SE03" type="SE03Type"/>
  
  <!-- SE03 type -->
  <xs:complexType name="SE03Type">
    <xs:sequence>
      <xs:element name="Result" type="xs:string"/>
    </xs:sequence>
</xs:complexType>

</xs:schema>