MAVEN_SOLUTION/RISK_ASSESSMENT_WEB_SERVER/src/main/resources/SchemaSE02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="SE02" type="SE02Type"/>

	<xs:complexType name="SE02Type"/>
		<xs:sequence>
		  <xs:element name="CaseCode" type="stringValida"/>
		  <xs:element name="Version" type="stringValida"/>
		</xs:sequence>
	</xs:complexType>
  
	<xs:simpleType name="stringValida">
		<xs:restriction base="xs:string">
		  <xs:pattern value = "[A-Za-z0-9 ]+"/>
		</xs:restriction>
	</xs:simpleType>
	
</xs:schema>
  